<!DOCTYPE html>
<html>
  <head>
    <title>DreamRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/vite_headers' %>
  </head>
  <body class="dark:bg-slate-900 dark:text-white p-4 min-h-screen debug-screens">
    <nav class="flex justify-end">
      <%= render DarkModeComponent.new %>
    </nav>
    <%= yield %>
  </body>
</html>
